body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 40px;
}

* {
    font-family: consolas;
}

h1 {
    text-align: center;
}

.form {    
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}
#subjectSelect {
    max-width: 200px;
}
#notes{
    min-width: 800px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 8px 14px;
    background: #2d6cdf;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#deletionButton{
    background-color: #df2d2d;
}

button:hover {
    background: #1b4fb5;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:hover {
    background: #f1f1f1;
}

header div {
    display: flex;
    flex-direction: row-reverse;
}

.etml {
    font-family: etml;
}
